body{
    background-color: burlywood;
    margin: 0;
}

header{
    width: 100%;
    background-color: beige;
    height: 130px;
}

#Logo{
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
}


#block1{
    padding: 10px;
    max-width: 960px;
    margin:auto; 
    }


#block1 p{
    font-size: 30px;
    margin: 10px;
}


#menu{
    width: 100%;
    background-color: beige;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

#menu nav{
    flex: 1;
    order: 1;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 10px;
    margin: 10px;
}


#menu nav a{
    text-decoration: none;
}
    

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: beige;
    width: 100%;
}

.selector1{
    padding: 10px;
    margin-top: 30px;
    display: flex;
    order: 1;
}

.selector2{
    padding: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    order: 3;
}

.selector3{
    padding: 10px;
    margin-top: 30px;
    display: flex;
    order: 2;
    flex-direction: column;
    text-align: center;
}

.selector2 table{
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    display:table;
    margin: auto;
    padding:3px;
    border: 2px solid black;
}


.selector2 table tbody tr th{
    border: 2px solid black;
    padding: 10px;
}


.selector2 table tbody tr td{
    border: 2px solid black;
    padding: 10px;
}


.selector2 table tbody tr.nech{
    display: table-row;
    border: 2px solid black;
    background-color: chocolate;
}


.selector2 table tbody tr#chet{
    display: table-row;
    border: 2px solid black;
    background-color: darksalmon;
}

footer{
    width:100%;
    height: 50px;
    background-color:beige;
    text-align:left;
    margin-top:30px;
}

footer p{
    padding: 10px;
    margin: 10px;
}

@media screen and (min-width: 1000px) {

    
    #menu{
        max-width: 960px;
        margin:auto; 
        margin-top: 35px;
        flex-direction: row;
    }
       
    #menu nav{
        flex-direction: row;
	    justify-content: space-around;
    }
    
    .content{
        max-width: 960px;
        margin:auto;
        margin-top: 35px;
    }
    
    .selector2{
        order: 2;
    }
    
    .selector3{
        order: 3;
    }
}